yolo/images
yolo/yolo-coco
yolo/output
yolo/videos
yolo-object-detection/images
yolo-object-detection/yolo-coco
yolo-object-detection/videos
Classification/masked
Classification/yolo
Classification/weights/resnet18.pth
Classification/weights
